In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
from itertools import combinations
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import csv
import os

In [2]:
serp_flights = pd.read_csv('resources/flights_tickets_serp2019-07-15.csv')
serp_flights.head()

,searchTerms,rank,title,snippet,displayLink,link,queryTime,totalResults,cacheId,formattedUrl,...,count,startIndex,inputEncoding,outputEncoding,safe,cx,gl,searchTime,formattedSearchTime,formattedTotalResults
0,flights to hong kong,1,Cheap Flights to Hong Kong (HKG) from $418 - K...,"Find flights to Hong Kong on XiamenAir, Cathay...",www.kayak.com,https://www.kayak.com/flight-routes/United-Sta...,2019-07-15 11:26:35.576675+00:00,150000000,W42baDpas_gJ,https://www.kayak.com/flight-routes/United.../...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.499167,0.5,"150,000,000"
1,flights to hong kong,2,Flights to Hong Kong (HKG) | Cathay Pacific,Find & book great deals on Hong Kong (HKG) Fli...,www.cathaypacific.com,https://www.cathaypacific.com/destinations/en_...,2019-07-15 11:26:35.576675+00:00,150000000,UEdjkoYlsQsJ,https://www.cathaypacific.com/destinations/en....,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.499167,0.5,"150,000,000"
2,flights to hong kong,3,"$125 Flights to Hong Kong, China (HKG) - TripA...",Book Cheap Flights to Hong Kong: Search and co...,www.tripadvisor.com,https://www.tripadvisor.com/Flights-g294217-Ho...,2019-07-15 11:26:35.576675+00:00,150000000,5jsjhmxgxvkJ,https://www.tripadvisor.com/Flights-g294217-Ho...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.499167,0.5,"150,000,000"
3,flights to hong kong,4,"Cheap Flights to Hong Kong SAR, Asia (HKG Airp...",Flights to Hong Kong SAR from airlines such as...,www.expedia.com,https://www.expedia.com/Cheap-Flights-To-Hong-...,2019-07-15 11:26:35.576675+00:00,150000000,iEmRbX0P8CAJ,https://www.expedia.com/Cheap-Flights-To-Hong-...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.499167,0.5,"150,000,000"
4,flights to hong kong,5,$406 Cheap Flights to Hong Kong International ...,Find cheap flights to Hong Kong International ...,www.skyscanner.com,https://www.skyscanner.com/flights-to/hkg/chea...,2019-07-15 11:26:35.576675+00:00,150000000,EI78TI4Q1qYJ,https://www.skyscanner.com/flights-to/hkg/chea...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.499167,0.5,"150,000,000"

In [3]:
top_dest = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_by_international_visitors', 
header=0)[0]
top_dest.head().style.format({'Arrivals 2016Euromonitor': '{:,}'})

In [4]:
top_dest.dropna()

,RankEuromonitor,RankMastercard,City,Country,Arrivals 2017Euromonitor,Arrivals 2016Mastercard,Growthin arrivalsEuromonitor,Income(billions $)Mastercard
0,1.0,11.0,Hong Kong,Hong Kong,25695800.0,8370000.0,âˆ’3.1 %,6.84
1,2.0,1.0,Bangkok,Thailand,23270600.0,21470000.0,9.5Â %,14.84
2,3.0,2.0,London,United Kingdom,19842800.0,19880000.0,3.4Â %,19.76
3,4.0,6.0,Singapore,Singapore,17681800.0,12110000.0,6.1Â %,12.54
5,6.0,4.0,Dubai,United Arab Emirates,16010000.0,15270000.0,7.7Â %,31.30
6,7.0,3.0,Paris,France,14263000.0,18030000.0,âˆ’0.9Â %,12.88
7,8.0,5.0,New York City,United States,13100000.0,12750000.0,3.6Â %,18.52
8,9.0,54.0,Shenzhen,China,12962000.0,2120000.0,3.1Â %,0.83
9,10.0,7.0,Kuala Lumpur,Malaysia,12843500.0,12020000.0,4.5Â %,11.34
11,12.0,48.0,Delhi,India,10257000.0,2580000.0,37.7Â %,1.91
12,13.0,9.0,Tokyo,Japan,9713500.0,10700000.0,4.8Â %,13.48
13,14.0,16.0,Rome,Italy,9565500.0,7120000.0,1.8Â %,4.47
14,15.0,15.0,Taipei,Taiwan,9318900.0,7350000.0,1.0Â %,9.60
15,16.0,36.0,Guangzhou,China,9075500.0,3700000.0,5.3Â %,1.66
16,17.0,27.0,Mumbai,India,8884900.0,4860000.0,23.5Â %,3.60
18,19.0,8.0,Istanbul,Turkey,8642300.0,11950000.0,âˆ’5.8Â %,7.54
19,20.0,20.0,Prague,Czech Republic,8550700.0,5810000.0,4.5Â %,2.70
20,21.0,24.0,Miami,United States,8075800.0,5240000.0,3.1Â %,8.15
21,22.0,10.0,Seoul,South Korea,7659100.0,10200000.0,"âˆ’14,9Â %",11.30
22,23.0,12.0,Barcelona,Spain,7624100.0,8200000.0,8.3Â %,9.28
24,25.0,19.0,Shanghai,China,7201200.0,6120000.0,4.3Â %,5.00
25,26.0,14.0,Milan,Italy,6882500.0,7650000.0,2.8Â %,4.56
29,30.0,13.0,Amsterdam,Netherlands,6570400.0,8000000.0,3.6Â %,4.20
32,33.0,17.0,Osaka,Japan,6133100.0,7020000.0,8.7Â %,3.39
33,34.0,21.0,Los Angeles,United States,6074300.0,5600000.0,4.0Â %,8.10
34,35.0,18.0,Vienna,Austria,6043700.0,6690000.0,3.0Â %,4.54
35,36.0,26.0,Berlin,Germany,5833100.0,4940000.0,4.9Â %,5.00
36,37.0,22.0,Madrid,Spain,5581000.0,5260000.0,8.8Â %,8.02
38,39.0,39.0,Johannesburg,South Africa,5537300.0,3600000.0,7.2Â %,1.73
39,40.0,28.0,Riyadh,Saudi Arabia,5518400.0,4590000.0,8.9Â %,1.69
...,...,...,...,...,...,...,...,...
46,47.0,25.0,Dublin,Ireland,4977000.0,4970000.0,3.5Â %,1.87
48,49.0,59.0,Moscow,Russia,4632300.0,1830000.0,2.0Â %,0.94
49,50.0,29.0,Toronto,Canada,4451000.0,4520000.0,11.2Â %,2.16
50,51.0,52.0,Hanoi,Vietnam,4300000.0,2200000.0,7.5Â %,1.28
51,52.0,31.0,Beijing,China,4156700.0,4050000.0,âˆ’0.2Â %,4.08
53,54.0,35.0,Sydney,Australia,3857900.0,3750000.0,6.6Â %,6.40
54,55.0,40.0,Budapest,Hungary,3823900.0,3360000.0,9.1Â %,0.95
55,56.0,44.0,Punta Cana,Dominican Republic,3673600.0,2730000.0,6.5Â %,2.95
56,57.0,33.0,San Francisco,United States,3601600.0,3930000.0,0.3Â %,5.93
57,58.0,66.0,Jakarta,Indonesia,3587500.0,1550000.0,48.5Â %,1.19
59,60.0,23.0,Munich,Germany,3492000.0,5250000.0,3.0Â %,5.32
60,61.0,37.0,Lisbon,Portugal,3320300.0,3630000.0,5.9Â %,1.43
64,65.0,66.0,Cairo,Egypt,3067100.0,1550000.0,1.8Â %,1.08
65,66.0,64.0,Copenhagen,Denmark,3061000.0,1630000.0,6.0Â %,0.91
72,73.0,85.0,Saint Petersburg,Russia,2856500.0,990000.0,2.0Â %,0.51
73,74.0,71.0,Warsaw,Poland,2794700.0,1370000.0,2.2Â %,0.51
74,75.0,47.0,Melbourne,Australia,2782700.0,2650000.0,9.8Â %,4.94
76,77.0,34.0,Vancouver,Canada,2652600.0,3900000.0,6.6Â %,2.12
78,79.0,85.0,Tel Aviv,Israel,2613800.0,990000.0,3.7Â %,1.31
81,82.0,62.0,Kolkata,India,2550400.0,1720000.0,11.3Â %,1.27
84,85.0,45.0,Brussels,Belgium,2524000.0,2710000.0,0.5Â %,1.92
85,86.0,38.0,Frankfurt am Main,Germany,2511400.0,3620000.0,4.4Â %,3.67
86,87.0,55.0,Stockholm,Sweden,2471200.0,2080000.0,6.2Â %,1.68
88,89.0,43.0,Mexico City,Mexico,2351000.0,2980000.0,9.0Â %,2.27
90,91.0,32.0,Lima,Peru,2274000.0,4030000.0,5.7Â %,1.44
91,92.0,71.0,Rio de Janeiro,Brazil,2253600.0,1370000.0,âˆ’2.4Â %,0.97
93,94.0,57.0,Buenos Aires,Argentina,2241200.0,2020000.0,âˆ’1.0Â %,1.69
94,95.0,79.0,Colombo,Sri Lanka,2206000.0,1130000.0,8.1Â %,0.95
95,96.0,41.0,Abu Dhabi,United Arab Emirates,2182900.0,3140000.0,6.2Â %,2.65
97,98.0,53.0,Washington D.C.,United States,2154000.0,2180000.0,4.0Â %,2.54

## Analyzing Titles

In [5]:
serp_flights[serp_flights['searchTerms'] == 'flights to paris'][['searchTerms', 'title']].head()

         searchTerms                                              title
60  flights to paris  Cheap Flights to Paris (PAR) from $247 in 2019...
61  flights to paris  Cheap Flights to Paris, Ile-de-France (CDG Air...
62  flights to paris   $38 Flights to Paris, France (PAR) - TripAdvisor
63  flights to paris  Cheap Flights to Paris, France - Search Deals ...
64  flights to paris                 Cheap Flights to Paris | CheapOair

In [6]:
(serp_flights[['searchTerms', 'displayLink', 'totalResults']].head().style.format({'totalResults': '{:,}'}))

In [7]:
# top_dest = pd.read_html('https://data.worldbank.org/indicator/ST.INT.XPND.CD', header=0)[0]
# top_dest.head().style.format({'ST.INT.XPND.CD': '{:,}'})